.portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    .port-latest{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 48vh;
        height: 48vh;
    }
    p{
        margin: 1rem 0;
        text-align: left;
    }
}
.port-item{
    width: 48vh;
    height: 48vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .portifolio-title{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        color: white;
        background-color: rgba(0, 0,0,.5);
        opacity: 0;
        .border{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 90%;
            height: 90%;
            border: 2px solid white;
        }
    }
    .portifolio-title:hover{
        transition: all 1s ease;
        opacity: 1;
    }
}
.Image{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    align-items: center;
    justify-content: center;
  }
.image-container{
    position: relative;
    background-color: rgba(0, 0,0,1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 10;
    .image-item{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .5s ease;
        img{
            width:60%;
            height: 70%;
            object-fit: cover;
        }
    }
}
.btm-image{
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    width: 60%;
    bottom: 0;
    align-self: center;
    height: 5rem;
    z-index: 10;
    // overflow:scroll;
   
}
.btm-image-item{
    width: 100%;
    height: 90%;    
    margin: 2px;
    img{
        height: 90%;
        width: 5rem;
        // border-radius: 5px;
        cursor: pointer;
    }
}
.image-back{
    opacity: 0.5;
}
.close-icon{
    position: absolute;
    margin: 2rem 5rem;
    padding: 10px;
    top: 0;
    right: 0;
}
.cl-icon{
    color: white;
    font-size: 40px;
    opacity: .5;
    z-index: 11;
    cursor: pointer;
}
