.extras{
    display: flex;
    height: 15rem;
    align-items: center;
    justify-content: center;
}
.extra{
    margin-right: 10%;
    h1{
        text-align: center;
        font-weight: bold;
    }
}