.footer{
    display: flex;
    padding: 10px;
    background-color: rgb(50, 50, 50);
    div{
        flex: 1;
        color: white;
        margin-left: 2rem;
    }
    h3{
        color: rgb(123, 123, 149);
    }
    .footer-logo{
        margin:3rem;
        img{
            height: 6rem;
        }
    }
    .address{
        display: flex;
        flex-direction: column;
    }
    .contact-info{
        display: flex;
        flex-direction: column;
    }
    article{
        margin-bottom: 10px;
    }
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        border-bottom: 2px solid white;
    }
}