* {
  h1 {
    font-family: "Anton", sans-serif;
  }
  p {
    font-family: "Dosis", sans-serif;
  }
}

body {
  margin: 1.5rem;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .h1 {
    font-size: 40px;
    font-family: "Anton", sans-serif;
    font-weight: 200;
  }
  .h1-anim {
    animation: slideY 1s ease-in-out forwards;
  }
  .p {
    margin-top: 10px;
    opacity: 0;
  }
  .p-anim {
    animation: slideX 1s 1s ease-in-out forwards;
  }
}
@keyframes slideY {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideX {
  0% {
    opacity: 0;
    transform: translatex(-4rem);
  }
  100% {
    opacity: 1;
    font-weight: 100;
    transform: none;
  }
}
p {
  margin: 3% 10%;
  text-align: center;
}

.btn {
  padding: 15px;
  border: 2px solid rgb(144, 144, 144);
  cursor: pointer;
  a{
    color: black;
  }
}

.btn:hover {
  transition: all 0.5s ease-in-out;
  background-color: rgb(144, 144, 144);
  a{
    color: white;
  }
}

@media only screen and (max-width: 1200px) {
  .creative,
  .services,
  .thingswedo {
    height: 60vh;
  }
}
@media only screen and (max-width: 800px) {
  .header-item {
    .header-text {
      right: 2rem;
      top: 10rem;
      .h-title {
        font-size: 40px;
      }
    }
  }
  .title {
    .h1 {
      font-size: 30px;
    }
  }
  .prev,
  .next {
    display: none;
  }
  .container {
    flex-wrap: wrap;
  }
  .branding {
    flex: 50%;
  }
  .creative,
  .services,
  .thingswedo {
    flex-direction: column;
    width: 100%;
    height: 60vh;
  }
  .image {
    display: none;
  }
  .creative-right {
    width: 100%;
  }
  .services {
    height: 100%;
  }
  .thingswedo {
    height: 100%;
  }
  .service-image,
  .services-left,
  .things-image,
  .thingswedo-right {
    width: 100%;
    height: 60vh;
  }
  .image-container {
    .image-item {
      img {
        width: 100%;
        height: 70%;
        object-fit: cover;
      }
    }
  }
  .btm-image {
    width: 100%;
    img {
      width: 4rem;
    }
  }
  .close-icon {
    margin: 10px;
  }
  .contact {
    form {
      width: 80%;
    }
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 500px) {
  .h-title {
    font-size: 20px;
  }
  .title {
    .h1 {
      font-size: 20px;
    }
  }
  .btm-image {
    width: 100%;
    overflow: scroll;
    margin-left: 10px;
    img {
      width: 4rem;
    }
  }
}
